* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;

}
  .navbar a{
    font-size: 25px;
    float: right;
  background-color: slategrey;
  text-decoration: none;
  padding: 10px;
  }
  header {
    padding: 6%;
    text-align: center;
  margin: 0px;
  color: #3334FF;
  border-bottom: 10px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  }
  .navbar {
    overflow: hidden;
    background-color: slategrey;
    border-bottom: 10px solid black;
  }
/* .container .main {
  display: flex;
flex-wrap: wrap;
} */
.left-side { 
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: left;

}
.main {
  flex: 90%;

p {
  font-size: 20px;
}
.footer {
  padding: 50px;
  background-color: turquoise;
  text-align: center;
  font-size: 50px;
}
/* img {
  padding: 60px;
float: left;
justify-content: space-evenly; */

}
.center-text {
  display: block;
  text-align: center;
  font-size: 75px;
  overflow: hidden;
}
h2 {
  text-align: center;
  font-size: 35px;
}
.column{
flex: 4;
background-color: #fff;
padding: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: flex-start;
}
