:root {
    box-sizing: border-box;
    margin: 0;
    flex-wrap: wrap;
background-color: #2f345c;
}
body{
    background-color: #2f345c
}
.aboutMe {
    float: right;
    display: flex;
    justify-content: right;
    background-color: 	#4935cb;
    color: 	#e2f7fd;
  
}

.hide{
    display: none;
}

.header {
    background-color: #ccccff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid #4935cb thick;
}
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.stats {
    text-shadow: 1px 1px black;
}
.miniTxt{
    color: #CC1F36;
    text-shadow: 1px 1px #28060A;

}
